<configuration>
   <appSettings>
      <add key="appISBN" value="0-273-68726-3" />
      <add key="appBook" value="Corporate Finance" />
      <username>{username}</username>
      <password>{password}</password>
      <connec_string>{connection_string}</connec_string>
   </appSettings>
</configuration>
